
@{
    ViewData["Title"] = "Index";
}

<style>
    .carousel-inner > .item > img {
        width:100%;
        height:450px;
    }
</style>

    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-generic" data-slide-to="1"></li>
            <li data-target="#carousel-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/ClassRoom.jpg" alt="Class room" />
                <div class="carousel-caption">
                  
                </div>
            </div>
            <div class="item">
                <img src="~/images/teacherPicture.jpg" alt="Women"  >
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="item">
                <img src="~/images/books.jpg" alt="Books">
                <div class="carousel-caption">
                    
                </div>
            </div>

        </div>        
    </div>

