@model List<TutorRegistrationForm>
@{
    ViewData["Title"] = "PictureTest";
}

<h2>PictureTest</h2>

<div class="container">
    @foreach (var teacher in Model)
    {
       
        <div class="row">
            <div class="col-lg-offset-2 col-md-6">
                <img  src="@teacher.ProfilePicture" alt="slika"/>
            </div>
        </div>
    }
</div>